.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.cart-container{
  background-color: rgb(211, 167, 136);
  padding: 15px;
}
.cart-container-btn{
  color: rgb(2, 220, 64);
}